doctype
html
  head
    title Cryptography Tool - #{@algorithm}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  body
    .container-narrow
      .masthead
        h3.muted Cryptography Tool - #{@algorithm}
      hr
        = yield
        hr
          .footer.pull-right
            p © Leonardo Uzon Nowaczyk 2013